Source: aiy-board-wlan
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends: debhelper
Section: net
Priority: optional

Package: aiy-board-wlan
Section: net
Priority: required
Architecture: all
Depends:
Description: Additional configuration for AIY Board wireless networking
